*.txt

content/project
content/posts/*
static/cv/notes.md
static/cv

# Published articles
!content/posts/cryptoeconomics.md
!content/posts/protect_your_information.md
!content/posts/applications_containerization.md
!content/posts/rn_generic_list.md